

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #FFFFFF;
$green: #ACCB34;
$purple: #563C8F;
$gray: #4D4D4D;
$gray-ligh: #F1F1F1;
$gray2: #231F20;
